.send-container {
  text-align: center;
}

.send-container h2 {
  margin-bottom: 1rem;
}
.send-container p {
  font-size: 0.9;
  margin-bottom: 0.5rem;
}
.send-container h3 {
  font-size: 0.9;
  margin: 1rem 0;
}
.review-data {
    text-align: left;
}
.review-data svg {
    margin-left: 5px;
}
.review-data span{
    font-weight: bold;
}
